@using Openpay.EpiCommerce.AddOns.PaymentGateway.Constants
@using Openpay.EpiCommerce.AddOns.PaymentGateway.Helpers
@model EPiServer.Reference.Commerce.Site.Features.Payment.ViewModels.PaymentMethodSelectionViewModel
@{
    Layout = null;
}

<div class="payment-methods">
    <div class="row">
        <div class="col-xs-12">
            <h3>@Html.Translate("/Checkout/Payment/Labels/ChoosePayment")</h3>
            @foreach (var viewModel in Model.PaymentMethods.Where(x => x.PaymentMethod != null))
            {
                <div class="radio">
                    <label style="display: flex; align-items: center;">
                        @{ string checkState = viewModel.PaymentMethod.PaymentMethodId == Model.SelectedPaymentMethod.PaymentMethod.PaymentMethodId ? "checked" : string.Empty; }
                        <input type="radio" class="jsChangePayment" data-url="@Url.Action("SetPaymentMethod", "Payment", new { paymentMethodId = viewModel.PaymentMethod.PaymentMethodId })"
                               name="SystemName" value="@viewModel.PaymentMethod.SystemKeyword" @checkState />
                        @if (viewModel.PaymentMethod.SystemKeyword == OpenpayConfigurationConstants.OpenpaySystemName)
                        {

                            <img style="width: 70px; margin-right: 5px;" src="https://static.openpay.com.au/brand/logo/amber-lozenge-logo.svg">
                            var openpayCheckoutWidgetModel = WidgetViewModelFactory.GetCheckoutWidgetViewModel();
                            if (openpayCheckoutWidgetModel != null && openpayCheckoutWidgetModel.ShowCheckoutWidget)
                            {
                                Html.RenderPartial("OpenpayCheckoutWidgetBlock", openpayCheckoutWidgetModel);
                            }
                        }
                        else
                        {
                            @viewModel.PaymentMethod.Name
                        }
                    </label>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="jsPaymentMethod">
                @{ Html.RenderPartial("_" + Model.SelectedPaymentMethod.PaymentMethod.SystemKeyword, Model.SelectedPaymentMethod.PaymentMethod);  }
            </div>
        </div>
    </div>
</div>