@using EPiServer.Shell.Web.Mvc.Html
<div class="quicksilver-well" style="background: #ffb81c">
    <h4>@Html.Translate("/OrderConfirmation/PaymentDetails")</h4>
    <p>
        <img src="~/styles/images/Openpay-logo.svg" border="0">
    </p>
</div>