@using EPiServer.Shell.Web.Mvc.Html
<div class="well quicksilver-well">
    <h4>Payment Method</h4>
    <img src="https://static.openpay.com.au/brand/logo/amber-lozenge-logo.svg" width="80" border="0">
</div>