@model Openpay.EpiCommerce.AddOns.PaymentGateway.Models.Widget.LogoWidgetViewModel

@if (Model != null)
{
    <div class="opy-logo" style="@Model.WrapperCss">
        <opy-logo color="@Model.Logo"></opy-logo>
    </div>
}
